# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # frozen: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 8afdb18d56d3bd3edea0c4ddde96965d6894f5f3  # frozen: 0.9.26
    hooks:
      - id: uv-lock

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: 309e9b0af1bbf98f1f6cd8e2b283b68cf87814e7  # frozen: v3.8.0
    hooks:
      - id: prettier

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 9b1e9a33f1b33f6ecc2fdbb8d7cc894e951106e4  # frozen: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty-check
        language: python
        entry: ty check
        pass_filenames: false
        additional_dependencies:
          - ty==0.0.1a18
          - aiohttp==3.9.3
