# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # frozen: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: e90530d2cface051bb46cbd33f2362558e5ee9fb # frozen: 0.9.18
    hooks:
      - id: uv-lock

  - repo: https://github.com/rbubley/mirrors-prettier
    rev: 14abee445aea04b39069c19b4bd54efff6775819  # frozen: v3.7.4
    hooks:
      - id: prettier

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 5ba58aca0bd5bc7c0e1c0fc45af2e88d6a2bde83  # frozen: v0.14.10
    hooks:
      # Run the linter.
      - id: ruff-check
        args:
          - --fix
          - --show-fixes
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty-check
        language: python
        entry: ty check
        pass_filenames: false
        additional_dependencies:
          - ty==0.0.1a18
          - aiohttp==3.9.3
